* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100%;
  overflow: hidden;
}

.Home {
  width: 100%;
  display: table;
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-arrow  {
  height: 30vmin;
}

.App-home {
  height: 8vmin;
}

.App-header {
  display: table-row;
}

.App-body {
  display: table-row;
}

.Footer {
  display: table-row;
}

.row {
  display: inline-table;
  width: 50%;
  align-items: center;
}

.col-sm-6 {
  display: table-cell;
  width: 50%;
}