.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-arrow  {
  height: 20vmin;
}

.App-home {
  height: 10vmin;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

